/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/app/platform/install/*.json
/storage/framework/testing/*
/storage/framework/views/*.php
/storage/logs/*.log
/vendor
.phpunit.result.cache
/database/database.sqlite
.env
.env.backup
.env.production
.phpactor.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
